In [29]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100)

In [27]:
df = pd.read_csv("train.csv")

In [30]:
df.head(2)

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45,v46,v47,v48,v49,v50,v51,v52,v53,v54,v55,v56,v57,v58,v59,v60,v61,v62,v63,v64,v65,v66,v67,v68,v69,v70,v71,v72,v73,v74,v75,v76,v77,v78,v79,v80,v81,v82,v83,v84,v85,v86,v87,v88,v89,v90,v91,v92,v93,v94,v95,v96,v97,v98,v99,v100,v101,v102,v103,v104,v105,v106,v107,v108,v109,v110,v111,v112,v113,v114,v115,v116,v117,v118,v119,v120,v121,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,9.999999,0.503281,16.434108,6.085711,2.86683,11.636387,1.355013,8.571429,3.67035,0.10672,0.148883,18.869283,7.730923,XDX,-1.716131e-08,C,0.139412,1.720818,3.393503,0.590122,8.880867,C,A,1.083033,1.010829,7.270147,8.375452,11.326592,0.454546,0,4.012088,7.711453,7.653429,12.707581,2.015505,10.498338,9.848672,0.113561,C,12.171733,8.086643,0.89942,7.277792,G,16.747968,0.037096,1.299638,DI,3.971118,0.529802,10.890984,1.588448,15.858152,1,0.153461,6.363189,18.303925,C,9.314079,15.231789,17.142857,11.784549,F,1,1.614988,B,D,2.23094,7.292418,8.571429,E,3.0,7.528326,8.861647,0.64982,1.299638,1.707317,0.866426,9.551836,3.3213,0.095678,0.905342,A,0.442252,5.814018,3.51772,0.462019,7.436824,5.454545,8.877414,1.191337,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,E,2.382692,3.930922,B,0.433213,O,NaN,15.634907,2.857144,1.95122,6.592012,5.909091,-6.297423e-07,1.059603,0.803572,8.0,1.98978,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,NaN,1.312910,NaN,6.507647,NaN,11.636386,NaN,NaN,NaN,NaN,NaN,NaN,6.763110,GUV,NaN,C,3.056144,NaN,NaN,NaN,NaN,C,A,NaN,NaN,3.615077,NaN,14.579479,NaN,0,NaN,14.305766,NaN,NaN,NaN,NaN,NaN,2.449959,E,NaN,NaN,1.37921,NaN,G,NaN,1.129469,NaN,DY,NaN,NaN,NaN,NaN,NaN,2,2.544736,NaN,NaN,A,NaN,NaN,NaN,12.053353,F,2,NaN,B,D,NaN,NaN,NaN,D,NaN,7.277655,3.430691,NaN,NaN,NaN,NaN,9.848004,NaN,2.678584,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,8.303967,NaN,NaN,NaN,NaN,NaN,NaN,1.505335,NaN,B,1.825361,4.247858,A,NaN,U,G,10.308044,NaN,NaN,10.595357,NaN,NaN,NaN,NaN,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN

In [31]:
selected_features = ['ID','target','v4', 'v6', 'v9', 'v10', 'v12', 'v14', 'v16',
              'v18', 'v19', 'v21', 'v34', 'v36', 'v38', 'v39',
              'v40', 'v45', 'v50', 'v53', 'v57', 'v58',
              'v62', 'v68', 'v69', 'v72', 'v80', 'v81',
              'v82', 'v85', 'v88', 'v90',
              'v93', 'v98', 'v99', 'v100', 'v114', 'v115',
              'v119', 'v120', 'v123', 'v124', 'v127', 'v129', 'v22',
              'v24', 'v30', 'v31', 'v47', 'v52', 'v56', 'v66',
              'v71', 'v75', 'v79', 'v112', 'v113', 'v125']

In [32]:
df = df[selected_features]

In [33]:
df[selected_features].info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114321 entries, 0 to 114320
Data columns (total 58 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      114321 non-null  int64
 1   target  114321 non-null  int64
 2   v4      64525 non-null   float64
 3   v6      64489 non-null   float64
 4   v9      64470 non-null   float64
 5   v10     114237 non-null  float64
 6   v12     114235 non-null  float64
 7   v14     114317 non-null  float64
 8   v16     64426 non-null   float64
 9   v18     64489 non-null   float64
 10  v19     64478 non-null   float64
 11  v21     113710 non-null  float64
 12  v34     114210 non-null  float64
 13  v36     65697 non-null   float64
 14  v38     114321 non-null  int64
 15  v39     64485 non-null   float64
 16  v40     114210 non-null  float64
 17  v45     64489 non-null   float64
 18  v50     114235 non-null  float64
 19  v53     64485 non-null   float64
 20  v57     64489 non-null   float64
 21  v58     64485 non-null   float64
 22  v62     114321 non-null  int64
 23  v68     64485 non-null   float64
 24  v69     64426 non-null   float64
 25  v72     114321 non-null  int64
 26  v80     64470 non-null   float64
 27  v81     65697 non-null   float64
 28  v82     65697 non-null   float64
 29  v85     63639 non-null   float64
 30  v88     64489 non-null   float64
 31  v90     64485 non-null   float64
 32  v93     64489 non-null   float64
 33  v98     65667 non-null   float64
 34  v99     64489 non-null   float64
 35  v100    64485 non-null   float64
 36  v114    114291 non-null  float64
 37  v115    64426 non-null   float64
 38  v119    63641 non-null   float64
 39  v120    64485 non-null   float64
 40  v123    63643 non-null   float64
 41  v124    65702 non-null   float64
 42  v127    64489 non-null   float64
 43  v129    114321 non-null  int64
 44  v22     113821 non-null  object
 45  v24     114321 non-null  object
 46  v30     54211 non-null   object
 47  v31     110864 non-null  object
 48  v47     114321 non-null  object
 49  v52     114318 non-null  object
 50  v56     107439 non-null  object
 51  v66     114321 non-null  object
 52  v71     114321 non-null  object
 53  v75     114321 non-null  object
 54  v79     114321 non-null  object
 55  v112    113939 non-null  object
 56  v113    59017 non-null   object
 57  v125    114244 non-null  object
dtypes: float64(38), int64(6), object(14)
memory usage: 50.6+ MB

In [34]:
int_cols = df.select_dtypes(include=np.number).columns
int_cols

Index(['ID', 'target', 'v4', 'v6', 'v9', 'v10', 'v12', 'v14', 'v16', 'v18', 'v19', 'v21', 'v34',
       'v36', 'v38', 'v39', 'v40', 'v45', 'v50', 'v53', 'v57', 'v58', 'v62', 'v68', 'v69', 'v72',
       'v80', 'v81', 'v82', 'v85', 'v88', 'v90', 'v93', 'v98', 'v99', 'v100', 'v114', 'v115',
       'v119', 'v120', 'v123', 'v124', 'v127', 'v129'],
      dtype='object')

In [39]:
df[int_cols].isna().sum()

ID            0
target        0
v4        49796
v6        49832
v9        49851
v10          84
v12          86
v14           4
v16       49895
v18       49832
v19       49843
v21         611
v34         111
v36       48624
v38           0
v39       49836
v40         111
v45       49832
v50          86
v53       49836
v57       49832
v58       49836
v62           0
v68       49836
v69       49895
v72           0
v80       49851
v81       48624
v82       48624
v85       50682
v88       49832
v90       49836
v93       49832
v98       48654
v99       49832
v100      49836
v114         30
v115      49895
v119      50680
v120      49836
v123      50678
v124      48619
v127      49832
v129          0
dtype: int64

In [35]:
cat_cols = df.select_dtypes(exclude=np.number).columns
cat_cols

Index(['v22', 'v24', 'v30', 'v31', 'v47', 'v52', 'v56', 'v66', 'v71', 'v75', 'v79', 'v112', 'v113',
       'v125'],
      dtype='object')

In [45]:
df[cat_cols].isna().sum()

v22       500
v24         0
v30     60110
v31      3457
v47         0
v52         3
v56      6882
v66         0
v71         0
v75         0
v79         0
v112      382
v113    55304
v125       77
dtype: int64

In [43]:
cat_cols[df[cat_cols].isna().sum() > 0 ]

Index(['v22', 'v30', 'v31', 'v52', 'v56', 'v112', 'v113', 'v125'], dtype='object')

In [36]:
df[cat_cols].head()

    v22 v24  v30 v31 v47 v52  v56 v66 v71 v75 v79 v112 v113 v125
0   XDX   C    C   A   C   G   DI   C   F   D   E    O  NaN   AU
1   GUV   C    C   A   E   G   DY   A   F   D   D    U    G   AF
2    FQ   E  NaN   A   C   F   AS   A   B   B   E    S  NaN   AE
3  ACUE   D    C   B   C   H   BW   A   F   D   B    J  NaN   CJ
4   HIT   E  NaN   A   I   H  NaN   C   F   D   C    T    G    Z

In [37]:
df['target'].unique()

array([1, 0], dtype=int64)

In [46]:
df['v22'].value_counts(dropna=False)

AGDF    2386
YGJ     2119
QKI      668
PWR      649
NaN      500
        ...
UXG        1
NKC        1
BHZ        1
ACSQ       1
ODT        1
Name: v22, Length: 18211, dtype: int64